<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button (click)="takePicture()">Take Picture</ion-button>
  {{newImage}} image URL

  <ion-img
  src="{{newImage}}"
></ion-img>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
